@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

#root{
    width:50%;
    margin: auto;
    margin-top: 10rem;
    text-align: center;
}

.counter{
    font-size: 2rem;
    border: 2px solid orangered;
    border-radius: 5px;
}

button{
    margin-left: 2rem;
    border: none;
    background-color: teal;
    color:white;
    padding: 4px 10px;
    border-radius: 3px;
    font-size: 1.5rem;
}